<!-- ***** Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)****-->
<!-- ***** http://faculty.washington.edu/neila/ ****-->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">About the Outbreak Investigator</h4>
    </div>
    <div class="modal-body">
        The Outbreak Investigator (https://github.com/uw-epidata) is a research project from University of Washington.  It is designed to visualize patterns or clusters of disease in order to direct resources to hot spots faster.
        <br><br>
        Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)
        <a href="http://faculty.washington.edu/neila">http://faculty.washington.edu/neila</a>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="okInfo()">OK</button>
    </div>
</div>
