<!-- ***** Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)****-->
<!-- ***** http://faculty.washington.edu/neila/ ****-->
<div class="fill"  ng-controller="CaseTableCtrl" casetable-vis select="selectRow()" resetui="resetUI()" updatefilter ="updateFilter()" >
     <div class="custom-csv-link-location" >
        <span   class="ui-grid-exporter-csv-link"></span>
      </div>
       <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize ui-grid-exporter class="fill"></div>
    
</div>