<!-- ***** Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)****-->
<!-- ***** http://faculty.washington.edu/neila/ ****-->
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">Contact the Abernethy reseach group</h4>
    </div>
    <div class="modal-body">
        <span> 
            The Outbreak Investigator (https://github.com/uw-epidata) is a research project from University of Washington.  It is designed to visualize patterns or clusters of disease in order to direct resources to hot spots faster.
            by tracking the contacts of cases and providing different views of visualization (table, network, map, etc.)

            Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)
            http://faculty.washington.edu/neila/

        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="okInfo()">OK</button>
    </div>
</div>