<!-- ***** Copyright 2014 University of Washington (Neil Abernethy, Wilson Lau, Todd Detwiler)****-->
<!-- ***** http://faculty.washington.edu/neila/ ****-->
<div class="timeline-controls-panel">

    <div class="btn-group btn-group-sm" style="float: right;">
        <label id="leftFilterSel" class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'" ng-click="filterTargetSel($event)">
            Edit Left Pane
        </label>
        <label id="linkedFilterSel" class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'" ng-click="filterTargetSel($event)">
            <span class="glyphicon glyphicon-link"></span>
        </label>
        <label id="rightFilterSel" class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'" ng-click="filterTargetSel($event)">
            Edit Right Pane
        </label>
    </div>

</div>
<div class="timeline-panel" class="fill">
    <div id="timeline" timeline-vis vis-data="getGraph()" class="fill">

        <!--<span class="reset" style="display: block;">Current filter: <span class="filter"></span></span>-->
    </div>
</div>



